@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Serif";
  src: url("./assets/fonts/Roboto_serif/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply font-[family-name:var(--font-text)];
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-[family-name:var(--font-title)];
  }

  p {
    margin-bottom: 1rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input, select, textarea {
    @apply bg-background-200 text-sidebar-foreground p-2 border border-gray-300 rounded;
  }

  :root {
    --font-text: "Montserrat", sans-serif;
    --font-title: "Roboto Serif", serif;
    /*--background: 0 0% 100%;*/
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    /*--primary: 220.9 39.3% 11%;*/
    --primary-foreground: 210 20% 98%;
    /*--secondary: 220 14.3% 95.9%;*/
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    /*--accent: 220 14.3% 95.9%;*/
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --text: 233 41% 8%;
    --background: 231 25% 90%;
    --primary: 232 52% 28%;
    --secondary: 232 58% 67%;
    --accent: 232 64% 50%;
    --text-50: 234 38% 95%;
    --text-100: 234 41% 90%;
    --text-200: 233 41% 80%;
    --text-300: 233 41% 70%;
    --text-400: 233 41% 60%;
    --text-500: 233 41% 50%;
    --text-600: 233 41% 40%;
    --text-700: 233 41% 30%;
    --text-800: 233 41% 20%;
    --text-900: 234 41% 10%;
    --text-950: 234 38% 5%;

    --background-50: 230 23% 95%;
    --background-100: 231 25% 90%;
    --background-200: 231 25% 80%;
    --background-300: 231 25% 70%;
    --background-400: 232 25% 60%;
    --background-500: 231 25% 50%;
    --background-600: 232 25% 40%;
    --background-700: 231 25% 30%;
    --background-800: 231 25% 20%;
    --background-900: 231 25% 10%;
    --background-950: 230 23% 5%;

    --primary-50: 235 52% 95%;
    --primary-100: 231 53% 90%;
    --primary-200: 231 53% 80%;
    --primary-300: 232 52% 70%;
    --primary-400: 232 52% 60%;
    --primary-500: 232 52% 50%;
    --primary-600: 232 52% 40%;
    --primary-700: 232 52% 30%;
    --primary-800: 231 53% 20%;
    --primary-900: 231 53% 10%;
    --primary-950: 231 52% 5%;

    --secondary-50: 232 60% 95%;
    --secondary-100: 232 57% 90%;
    --secondary-200: 232 59% 80%;
    --secondary-300: 232 58% 70%;
    --secondary-400: 232 58% 60%;
    --secondary-500: 232 58% 50%;
    --secondary-600: 232 58% 40%;
    --secondary-700: 232 58% 30%;
    --secondary-800: 232 59% 20%;
    --secondary-900: 232 57% 10%;
    --secondary-950: 232 60% 5%;

    --accent-50: 232 62% 95%;
    --accent-100: 231 65% 90%;
    --accent-200: 232 65% 80%;
    --accent-300: 232 63% 70%;
    --accent-400: 232 64% 60%;
    --accent-500: 232 64% 50%;
    --accent-600: 232 64% 40%;
    --accent-700: 232 63% 30%;
    --accent-800: 232 65% 20%;
    --accent-900: 231 65% 10%;
    --accent-950: 233 62% 5%;
  }
  .dark {
    /*--background: 224 71.4% 4.1%;*/
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    /*--primary: 210 20% 98%;*/
    --primary-foreground: 220.9 39.3% 11%;
    /*--secondary: 215 27.9% 16.9%;*/
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    /*--accent: 215 27.9% 16.9%;*/
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --text: 233 41% 92%;
    --background: 231 25% 10%;
    --primary: 232 52% 72%;
    --secondary: 232 58% 33%;
    --accent: 232 64% 50%;
    --text-50: 234 38% 5%;
    --text-100: 234 41% 10%;
    --text-200: 233 41% 20%;
    --text-300: 233 41% 30%;
    --text-400: 233 41% 40%;
    --text-500: 233 41% 50%;
    --text-600: 233 41% 60%;
    --text-700: 233 41% 70%;
    --text-800: 233 41% 80%;
    --text-900: 234 41% 90%;
    --text-950: 234 38% 95%;

    --background-50: 230 23% 5%;
    --background-100: 231 25% 10%;
    --background-200: 231 25% 20%;
    --background-300: 231 25% 30%;
    --background-400: 232 25% 40%;
    --background-500: 231 25% 50%;
    --background-600: 232 25% 60%;
    --background-700: 231 25% 70%;
    --background-800: 231 25% 80%;
    --background-900: 231 25% 90%;
    --background-950: 230 23% 95%;

    --primary-50: 231 52% 5%;
    --primary-100: 231 53% 10%;
    --primary-200: 231 53% 20%;
    --primary-300: 232 52% 30%;
    --primary-400: 232 52% 40%;
    --primary-500: 232 52% 50%;
    --primary-600: 232 52% 60%;
    --primary-700: 232 52% 70%;
    --primary-800: 231 53% 80%;
    --primary-900: 231 53% 90%;
    --primary-950: 235 52% 95%;

    --secondary-50: 232 60% 5%;
    --secondary-100: 232 57% 10%;
    --secondary-200: 232 59% 20%;
    --secondary-300: 232 58% 30%;
    --secondary-400: 232 58% 40%;
    --secondary-500: 232 58% 50%;
    --secondary-600: 232 58% 60%;
    --secondary-700: 232 58% 70%;
    --secondary-800: 232 59% 80%;
    --secondary-900: 232 57% 90%;
    --secondary-950: 232 60% 95%;

    --accent-50: 233 62% 5%;
    --accent-100: 231 65% 10%;
    --accent-200: 232 65% 20%;
    --accent-300: 232 63% 30%;
    --accent-400: 232 64% 40%;
    --accent-500: 232 64% 50%;
    --accent-600: 232 64% 60%;
    --accent-700: 232 63% 70%;
    --accent-800: 232 65% 80%;
    --accent-900: 231 65% 90%;
    --accent-950: 232 62% 95%;
  }
}

.pdf {
  width: 210mm; /* Largeur exacte d'une page A4 */
  min-height: 297mm; /* Hauteur minimale d'une page A4 */
  margin: 10mm auto; /* Marges pour s'aligner au format PDF */
  page-break-inside: avoid; /* Empêche les coupures internes */
  overflow: visible; /* Permet aux sections de s'afficher pleinement */
}

.pdf-section {
  page-break-after: always; /* Force un saut de page après chaque section */
  break-inside: avoid; /* Empêche les coupures à l'intérieur des sections */
}

.pdf p {
  page-break-inside: avoid; /* Évite de couper les paragraphes */
  margin-bottom: 1rem;
}

@media print {
  .pdf {
    page-break-inside: avoid;
    break-after: always; /* Force les sauts de page après chaque section */
  }
  .pdf-section {
    overflow: visible; /* Permet d'afficher tout le contenu */
  }
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply text-sidebar-foreground border border-gray-300 rounded shadow-none;
      -webkit-box-shadow: 0 0 0px 1000px hsl(var(--background-200)) inset;
      -webkit-text-fill-color: hsl(var(--sidebar-foreground));
  }
}
